<% if (session.authenticated) { %>
  <ul class="logged-in user-tools">
    <li><a href="/rivers/edit/<%= river.id %>" class="button tiny right">Edit</a></li>
  </ul>
<% } %>

<div class="row">
  <div class="small-12 column">
    <header>
      <div class="row">
        <div class="small-12 column">
          <h1><%= river.name %></h1>
          <h2>Status: <%= river.status %></h2>
          <h3>Available Gauges</h3>
        </div>
      </div>
    </header>
  </div>
</div>


<div class="row">
  <div class="small-12 column">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Updated</th>
        </tr>
      </thead>
      <tbody>
        <% _.each(river.gauges, function(gauge) { %>
          <tr>
            <td><a href="/gauges/view/<%= gauge.id %>"><%= gauge.name %></a></td>
            <td><%= gauge.updateAgo %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</div>
