<form action="/gauges/remove/<%= gauge.id %>" method="POST">
  <input type="submit" value="Delete Gauge"/>
</form>

<form action="/gauges/reset/<%= gauge.id %>" method="POST">
  <input type="submit" value="Reset"/>
</form>

<form action="/gauges/update/<%= gauge.id %>" method="POST">

  <div class="row">

    <div class="large-12 columns">

      <label>Name
        <input type="text" placeholder="James River" name="name" value="<%= gauge.name %>"/>
      </label>

      <label>USGS ID
        <input type="text" placeholder="02037500" name="usgsID" value="<%= gauge.usgsID %>"/>
      </label>

      <label>NWS ID
        <input type="text" placeholder="RMDV2" name="nwsID" value="<%= gauge.nwsID %>"/>
      </label>

      <label>Latitude
        <input type="text" placeholder="37.5536111" name="latitude" value="<%= gauge.latitude %>"/>
      </label>

      <label>Longitude
        <input type="text" placeholder="-77.4605556" name="longitude" value="<%= gauge.longitude %>"/>
      </label>

      <label>TimeZone
      <select name="timeZone">
        <% timeZones.forEach(function(zone) { %>
          <option value="<%= zone %>" <% if (zone === gauge.timeZone) { %> selected <% } %> ><%= zone %></option>
        <% }) %>
      </select>

      <label>Action Stage
        <input type="text" placeholder="9" name="actionStage" value="<%= gauge.actionStage %>"/>
      </label>

      <label>Minor Stage
        <input type="text" placeholder="12" name="minorStage" value="<%= gauge.minorStage %>"/>
      </label>

      <label>Moderate Stage
        <input type="text" placeholder="15" name="moderateStage" value="<%= gauge.moderateStage %>"/>
      </label>

      <label>Major Stage
        <input type="text" placeholder="22" name="majorStage" value="<%= gauge.majorStage %>"/>
      </label>

      <label>River
        <select name="river">
          <% _.each(rivers, function(river) { %>
            <option value="<%= river.id %>" <% if(river.id === gauge.riverID) {%> selected <% } %>>
              <%= river.name %>
            </option>
          <% }); %>
        </select>
      </label>

      <div class="switch">
        <input id="gauge-status" type="checkbox" name="status" <% if('on' === gauge.status) {%> checked <%}%>>
        <label for="gauge-status">Active</label>
      </div>

      <input type="hidden" name="id" value="<%= gauge.id %>"/>
      <input type="submit" value="Save Gauge"/>

    </div>
  </div>
</form>


