<a href="/gauges/edit/<%= gauge.id %>" class="button tiny right">Edit</a>


<h1><%= gauge.name %></h1>
<h3><%= gauge.status %></h3>

<h4>Latest readings</h4>

<h1><%= flow.variableName %>: <%= flow.value %><%= flow.unitAbbreviation %></h1>
<h1><%= height.variableName %>: <%= height.value %><%= height.unitAbbreviation %></h1>
