<a href="/gauges/edit/<%= gauge.id %>" class="button tiny right">Edit</a>


<h1><%= gauge.name %></h1>
<h2>Status <%= gauge.status %> and updated <%= updatedAgo %></h2>


<ul>
  <li>River Conditions
    <ul>
      <li>Flow: <%= flow.value %><%= flow.unitAbbreviation %></li>
      <li>Height: <%= height.value %><%= height.unitAbbreviation %></li>
    </ul>
  </li>
</ul>

<ul>
  <li>Weather
    <ul>
      <li>Condition: <%= weather.currently.summary %></li>
      <li>Air Temp: <%= weather.currently.temperature %></li>
      <li>Cloud Cover: <%= weather.currently.cloudCover %></li>
      <li>Wind Speed: <%= weather.currently.windSpeed %></li>
    </ul>
  </li>
</ul>


<div class="chart" data-chart-vars='<%- heightChart %>'></div>


<script>

  highchartsGlobals = {
    timeZone: '<%- timeZone %>'
  };

</script>




